<div class="mainContainer">
        <div class="informationHolder ">
            <div class="row ">
               
                <div class=" column70">
                    <div class="row ">
                        <div class="column50 ">
                            <div class="row " style="position: relative;">
                                    <div style=" position:absolute; color:#1d80e2; font-size: 21px; margin-top: -24px;padding-left: 10px;"> Today's summary</div>
                                <div class="column50 "> <div id="metric1" ></div></div>
                                <div class=" column50"> <div id="metric2" ></div></div>
                            </div>
                        </div>
                        <div class=" column50">
                            <div class="row ">
                                <div class="column50 "><div id="metric3" ></div></div>
                                <div class=" column50"><div id="metric4" ></div></div>
    
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="column50 "> 
                            <div class=" row" style="position: relative; padding-left: 85px; ">
                                <div style="position: absolute; top:40px;right:48px;    font-size: x-large;color: #1d80e2;font-weight: bold;">82%</div>
                                <acceletorchart ></acceletorchart>
                        </div>
                    </div>
                        <div class=" column50">
                                <div class=" row">
                                        <div class="column50 "><div id="metric5" ></div></div>
                                        <div class=" column50"><div id="metric6" ></div></div>
                                    </div>
                        </div>
                    </div>
                </div>
                <div class=" column30" style="padding: 68px 10px 20px 10px;">
                        <div class=" row tabledata">
                            <div style="width:100%;height:40px;text-align: center;font-size: 22px;color:#fff;background-color: blue; border-top-left-radius: 4px ; border-top-right-radius: 4px; line-height: 40px;">Live Scan Alerts</div>
                        </div>
                        
                        <table class="TFtableCol">
                                <tr><td>Pet Tag No</td><td>Alert Type</td><td>Time</td></tr>
                                <tr><td>32805698123</td><td>Delayed</td><td>12:30</td></tr>
                                <tr><td>328064698123</td><td>Delayed</td><td>20:45</td></tr>
                                <tr><td>32806398123</td><td>Delayed</td><td>15:44</td></tr>
                                <tr><td>32802698123</td><td>Delayed</td><td>13:11</td></tr>
                                <tr><td>32801698123</td><td>Delayed</td><td>09:05</td></tr>
                                <tr><td>32806798123</td><td>Delayed</td><td>08:55</td></tr>
                                <tr><td>32806298123</td><td>Delayed</td><td>17:22</td></tr>
                                <tr><td>32806598123</td><td>Delayed</td><td>04:25</td></tr>
                                <tr><td>32806398123</td><td>Delayed</td><td>02:1</td></tr>
                                <tr><td>32806198123</td><td>Delayed</td><td>23:11</td></tr>
                            </table>

                </div>
            </div>
            <div class=" row">
                <div class="column50 "></div>
                <div class=" column50">
                        
                </div>
            </div>
        </div>
    </div>