
      .homeContainerContainer {
        height: auto;
        width: 100%;
        margin: auto;
        overflow: hidden;
				background-color: #0ff1f105;
        padding: 5px;
      }
      .homeContainerInformation {
        height: 100%;
        width: 100%;
	    }
			.homeContainerInfomationRow {
				width: 100%;
				height: auto;
				display: flex;
				margin-bottom: 20px;
			}
			.homeContainerInfomationColuman {
			  width: 50%;
			  height: 100%;
			  vertical-align: top;
			  padding: 20px 10px;

			}
			