<header></header>
<div class="homeContainerContainer">
                <div class="homeContainerInformation">
                    <acceletorMetricChart></acceletorMetricChart>
                                <div class="homeContainerInfomationRow">
                                    <!-- <acceletorMetricChart></acceletorMetricChart> -->
                                                <!-- <div class="homeContainerInfomationColuman">
                                                    <acceletorchart ></acceletorchart>
                                                </div>
                                                <div class="homeContainerInfomationColuman">
                                                    </div>
                                                    <acceletorMetricChart></acceletorMetricChart>
                                                  </div>
                   -->
                      
                      <div class="homeContainerInfomationRow">
                       
                        
                    </div>
                  </div>

                  